# Secrets（含各类密钥）— 勿提交
Secrets/

# Python
__pycache__/
*.py[cod]

.DS_Store
Pods/*
!Pods/Target Support Files/
Pods/Target Support Files/*
!Pods/Target Support Files/Pods-CallMate/
Pods/Target Support Files/Pods-CallMate/*
!Pods/Target Support Files/Pods-CallMate/Pods-CallMate.debug.xcconfig
!Pods/Target Support Files/Pods-CallMate/Pods-CallMate.release.xcconfig
xcuserdata/
DerivedData/
build/
.idea
